@{
    ViewData["Title"] = "О сайте";
}

<div class="text-center">
    <h1 class="display-4">Spot</h1>
    <p>Spot - это сайт, на котором детские общественные учреждения (Например: школы, детские дома, бюджетные общественные организации и т.д) могут откладывать запросы на проведение специального мероприятия, а студенческие педагогические отряды принимать эти запросы, проводить мероприятия, а также выкладывать предложения из мероприятий, которые могут провести они.</p>
    <p></p>
    <p><a href="https://t.me/+pICeLh-84nxkOTA6">Spot Community</a> - официальный Telegram-канал проекта. Здесь публикуется вся актуальная информация. В Spot Community вы можете задать администрации проекта интересующие вас вопросы, оставить подробную обратную связь.</p>
    <p>Также вы можете оставить отзыв в <a href="https://docs.google.com/forms/d/e/1FAIpQLSe7uWCrOkL-5AKgq_thUfsMa-AycT2gRsoJU6wZ9BMoyoASJA/viewform?usp=sf_link">форме обратной связи</a>.</p>
</div>