@{
    ViewData["Title"] = "О сайте";
}

<div class="text-center">
    <h1 class="display-4">Spot</h1>
    <p>Spot - это сайт, на котором детские общественные учреждения (Например: школы, детские дома, бюджетные общественные организации и т.д) могут откладывать запросы на проведение специального мероприятия, а студенческие педагогические отряды принимать эти запросы, проводить мероприятия, а также выкладывать предложения из мероприятий, которые могут провести они.</p>
    <p>Этот сайтик сделали три солнышка с матмеха</p>
</div>