@page
@model IndexModel
@{
    ViewData["Title"] = "Профиль";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        Здесь вы можете изменить свою почту, пароль или удалить аккаунт.
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}