@page
@model LockoutModel
@{
    ViewData["Title"] = "Заблокирован";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Извините, ваш аккаунт заблокирован. Если это произошло без вашего ведома, пожалуйста, обратитесь в поддержку.</p>
</header>
