@page
@model Register2StepModel
@{
    ViewData["Title"] = "Регистрация";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Шаг 2/2</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OrganisationName"></label>
                <input asp-for="Input.OrganisationName" class="form-control" />
                <span asp-validation-for="Input.OrganisationName" class="text-danger"></span>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value = "School" asp-for="Input.OrganisationType">
                <label class="form-check-label" asp-for="Input.OrganisationType">Школа</label>
                <input class="form-check-input" type="radio" value = "SPO" asp-for="Input.OrganisationType">
                <label class="form-check-label" asp-for="Input.OrganisationType">СПО</label>
                <span asp-validation-for="Input.OrganisationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ContactPersonName"></label>
                <input asp-for="Input.ContactPersonName" class="form-control" />
                <span asp-validation-for="Input.ContactPersonName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Phone"></label>
                <input asp-for="Input.Phone" class="form-control" />
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.OtherContacts"></label>
                <input asp-for="Input.OtherContacts" class="form-control" />
                <span asp-validation-for="Input.OtherContacts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.OtherInformation"></label>
                <input asp-for="Input.OtherInformation" class="form-control" />
                <span asp-validation-for="Input.OtherInformation" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Завершить регистрацию</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
